* {
  margin: 0%;
  padding: 0%; }

header {
  padding: 1vw;
  background-color: #f8f7f7; }

footer {
  margin-top: 8vw;
  background-color: #505060;
  height: 10em; }
  footer .nav-item {
    position: relative;
    left: 40%; }
    footer .nav-item img {
      height: 3em; }

#grillaIndex #grillaIndexM {
  background-color: white; }
  #grillaIndex #grillaIndexM .inicioImagen img {
    width: 100%;
    height: 100%; }
  #grillaIndex #grillaIndexM .inicioImagen img {
    filter: constrast(95%); }
  #grillaIndex #grillaIndexM div.texto {
    font-family: 'Charis SIL', serif;
    text-align: left;
    font-size: 4.5vw;
    width: 12em;
    position: absolute;
    top: 3.2em;
    color: #dea82a; }
    #grillaIndex #grillaIndexM div.texto ul li {
      list-style: none; }
  #grillaIndex #grillaIndexM h3 {
    margin-top: 35%;
    text-align: center; }
  #grillaIndex #grillaIndexM .div1 {
    background-image: url("../images/trabajo1.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 30em;
    margin: 1em;
    transition: .5s;
    filter: opacity(70%); }
    #grillaIndex #grillaIndexM .div1 h3 {
      transition: .5s; }
  #grillaIndex #grillaIndexM .div1:hover {
    transform: scale(96%);
    filter: opacity(100%);
    transition: .5s; }
    #grillaIndex #grillaIndexM .div1:hover h3 {
      color: white;
      transition: .5s; }
  #grillaIndex #grillaIndexM .div2 {
    background-image: url("../images/trabajo2.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 30em;
    margin: 1em;
    filter: opacity(70%); }
    #grillaIndex #grillaIndexM .div2 h3 {
      transition: .5s; }
  #grillaIndex #grillaIndexM .div2:hover {
    transform: scale(96%);
    filter: opacity(100%);
    transition: .5s; }
    #grillaIndex #grillaIndexM .div2:hover h3 {
      color: white;
      transition: .5s; }
  #grillaIndex #grillaIndexM .div3 {
    background-image: url("../images/trabajo3.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 30em;
    margin: 1em;
    filter: opacity(70%); }
    #grillaIndex #grillaIndexM .div3 h3 {
      transition: .5s; }
  #grillaIndex #grillaIndexM .div3:hover {
    transform: scale(96%);
    filter: opacity(100%);
    transition: .5s; }
    #grillaIndex #grillaIndexM .div3:hover h3 {
      color: white;
      transition: .5s; }

#grillaNosotros #grillaNosotrosM .sandiImagen img {
  padding: 5vw;
  width: 90%;
  height: 100%; }

#grillaNosotros #grillaNosotrosM .cont {
  align-self: center;
  text-align: left; }

#grillaNosotros #grillaNosotrosM .carousel {
  position: relative;
  left: 25%;
  padding: 10vw;
  background-color: black; }

#grillaContacto #grillaContactoM .box {
  margin-top: 5em;
  align-items: center;
  text-align: center;
  background-image: url("../images/fondoContacto.jpg");
  background-size: cover;
  height: 40em;
  color: white; }
  #grillaContacto #grillaContactoM .box h2 {
    position: relative;
    top: 2em;
    margin-bottom: 5em; }

#grillaContacto #grillaContactoM .box2 {
  margin-top: 5em;
  align-items: center;
  text-align: center;
  background-color: #d1a953;
  background-size: cover;
  height: 40em;
  color: white; }
  #grillaContacto #grillaContactoM .box2 h2 {
    position: relative;
    top: 2em;
    margin-bottom: 5em; }
  #grillaContacto #grillaContactoM .box2 ul {
    position: relative;
    right: 1em; }
    #grillaContacto #grillaContactoM .box2 ul li {
      list-style: none;
      font-size: 1.5vw;
      padding: 1vw; }

#grillaContacto #grillaContactoM .wsp-boton {
  margin-bottom: 20%;
  background-color: rgba(97, 210, 97, 0.752);
  width: 20em;
  height: 5em;
  border-radius: 2em;
  transition: .5s;
  transform: scale(100%);
  position: relative;
  left: 15%; }
  #grillaContacto #grillaContactoM .wsp-boton p {
    color: white; }
  #grillaContacto #grillaContactoM .wsp-boton ul {
    margin-top: 3em;
    margin-bottom: 3em; }
    #grillaContacto #grillaContactoM .wsp-boton ul img {
      position: relative;
      top: 1em;
      left: 1.5em; }
    #grillaContacto #grillaContactoM .wsp-boton ul li {
      padding-top: .7em; }
      #grillaContacto #grillaContactoM .wsp-boton ul li a p {
        position: relative;
        top: .5em;
        left: 1em;
        text-decoration: none; }

#grillaContacto #grillaContactoM .wsp-boton:hover {
  transition: .5s;
  transform: scale(103%);
  background-color: rgba(129, 229, 129, 0.822); }

#grillaContacto #grillaContactoM .correo {
  position: relative;
  left: 15%;
  background-color: rgba(194, 194, 194, 0.523);
  border-radius: 1.5em;
  width: 20em;
  height: 3em;
  transition: .5s;
  transform: scale(100%); }
  #grillaContacto #grillaContactoM .correo a {
    text-decoration: none; }
  #grillaContacto #grillaContactoM .correo p {
    position: relative;
    top: .5em;
    color: white; }

#grillaContacto #grillaContactoM .correo:hover {
  transition: .5s;
  transform: scale(103%);
  background-color: rgba(223, 223, 223, 0.705); }

#grillaContacto #grillaContactoM .caja2 {
  background-color: grey; }
  #grillaContacto #grillaContactoM .caja2 h2 {
    position: relative;
    top: 2em;
    margin-bottom: 5em; }

@media only screen and (min-width: 600px) {
  #grillaIndex {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: auto 1fr 1fr auto;
    grid-template-areas: "header header header header" "main main main main" "main main main main" "footer footer footer footer"; }
    #grillaIndex header {
      grid-area: header; }
    #grillaIndex footer {
      grid-area: footer; }
    #grillaIndex #grillaIndexM {
      grid-area: main;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 50em auto;
      grid-template-areas: "inicioImagen inicioImagen inicioImagen" "contenido1 contenido2 contenido3"; }
      #grillaIndex #grillaIndexM .inicioImagen {
        grid-area: inicioImagen; }
      #grillaIndex #grillaIndexM .div1 {
        grid-area: contenido1; }
      #grillaIndex #grillaIndexM .div2 {
        grid-area: contenido2; }
      #grillaIndex #grillaIndexM .div3 {
        grid-area: contenido3; }
  #grillaNosotros {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: auto 1fr 1fr auto;
    grid-template-areas: "header header header header" "main main main main" "main main main main" "footer footer footer footer"; }
    #grillaNosotros header {
      grid-area: header; }
    #grillaNosotros footer {
      grid-area: footer; }
    #grillaNosotros #grillaNosotrosM {
      grid-area: main;
      display: grid;
      grid-template-columns: 25% 25% 25% 25%;
      grid-template-rows: 40em 1fr;
      grid-template-areas: "sandi sandi cont cont" "carousel carousel carousel carousel"; }
      #grillaNosotros #grillaNosotrosM .sandiImagen {
        grid-area: sandi; }
      #grillaNosotros #grillaNosotrosM .cont {
        grid-area: cont; }
      #grillaNosotros #grillaNosotrosM .carousel {
        grid-area: carousel; }
  #grillaFormulario {
    background-color: gray;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: auto 90em 20em auto;
    grid-template-areas: "header header header header" "main main main main" "main main main main" "footer footer footer footer"; }
    #grillaFormulario header {
      grid-area: header; }
    #grillaFormulario footer {
      grid-area: footer; }
    #grillaFormulario #grillaFormularioM {
      grid-area: main; }
      #grillaFormulario #grillaFormularioM .formulario {
        margin-top: 2em;
        position: absolute; }
        #grillaFormulario #grillaFormularioM .formulario iframe {
          width: 110em;
          height: 80em; }
  #grillaContacto {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: auto 50em auto;
    grid-template-areas: "header header header header" "main main main main" "footer footer footer footer"; }
    #grillaContacto header {
      grid-area: header; }
    #grillaContacto footer {
      grid-area: footer; }
    #grillaContacto #grillaContactoM {
      grid-area: main;
      display: grid;
      grid-template-columns: 25% 25% 25% 25%;
      grid-template-rows: auto;
      grid-template-areas: "mainIzquierda mainIzquierda mainDerecha mainDerecha"; }
      #grillaContacto #grillaContactoM .box {
        grid-area: mainIzquierda;
        width: 30em;
        position: relative;
        left: 47%; }
      #grillaContacto #grillaContactoM .box2 {
        grid-area: mainDerecha;
        width: 30em; } }

@media only screen and (max-width: 600px) {
  #grillaIndex {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto 1fr 1fr 1fr 1fr auto;
    grid-template-areas: "header" "main" "main" "main" "main" "footer"; }
    #grillaIndex header {
      grid-area: header; }
    #grillaIndex footer {
      grid-area: footer; }
    #grillaIndex #grillaIndexM {
      grid-area: main;
      display: grid;
      grid-template-columns: 100%;
      grid-template-rows: 25em  auto auto auto;
      grid-template-areas: "inicioImagen" "contenido1"  "contenido2"  "contenido3"; }
      #grillaIndex #grillaIndexM .inicioImagen {
        grid-area: inicioImagen;
        margin-top: 2em;
        height: 20em; }
      #grillaIndex #grillaIndexM div.texto {
        position: absolute;
        width: 100%;
        top: 16em; }
      #grillaIndex #grillaIndexM .div1 {
        grid-area: contenido1; }
        #grillaIndex #grillaIndexM .div1 h3 {
          position: relative;
          top: 2em; }
      #grillaIndex #grillaIndexM .div2 {
        grid-area: contenido2; }
        #grillaIndex #grillaIndexM .div2 h3 {
          position: relative;
          top: 2em; }
      #grillaIndex #grillaIndexM .div3 {
        grid-area: contenido3; }
        #grillaIndex #grillaIndexM .div3 h3 {
          position: relative;
          top: 2em; }
  #grillaNosotros {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto 1fr 1fr auto;
    grid-template-areas: "header" "main" "main" "footer"; }
    #grillaNosotros header {
      grid-area: header; }
    #grillaNosotros footer {
      grid-area: footer; }
    #grillaNosotros #grillaNosotrosM {
      grid-area: main;
      display: grid;
      grid-template-columns: 100%;
      grid-template-rows: 30em auto 1fr;
      grid-template-areas: "sandi"  "cont" "carousel"; }
      #grillaNosotros #grillaNosotrosM .sandiImagen {
        grid-area: sandi;
        margin-top: 2em;
        height: 80%;
        position: relative;
        left: 1.5em; }
      #grillaNosotros #grillaNosotrosM .cont {
        grid-area: cont;
        text-align: center; }
        #grillaNosotros #grillaNosotrosM .cont p {
          text-align: justify;
          padding: 1em; }
      #grillaNosotros #grillaNosotrosM .carousel {
        grid-area: carousel; }
  #grillaContacto {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto auto auto auto;
    grid-template-areas: "header" "main" "main" "footer"; }
    #grillaContacto header {
      grid-area: header;
      width: 90%; }
    #grillaContacto footer {
      grid-area: footer;
      width: 90%; }
    #grillaContacto #grillaContactoM {
      grid-area: main;
      display: grid;
      grid-template-columns: 100%;
      grid-template-rows: 50% 50%;
      grid-template-areas: "mainIzquierda"  "mainDerecha"; }
      #grillaContacto #grillaContactoM .box {
        grid-area: mainIzquierda;
        width: 30em; }
      #grillaContacto #grillaContactoM .box2 {
        grid-area: mainDerecha;
        width: 30em; }
        #grillaContacto #grillaContactoM .box2 ul li {
          font-size: 6vw; }
  #grillaFormulario {
    background-color: gray;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto 120vw auto;
    grid-template-areas: "header" "main" "footer"; }
    #grillaFormulario header {
      grid-area: header; }
    #grillaFormulario footer {
      grid-area: footer; }
    #grillaFormulario #grillaFormularioM {
      grid-area: main; }
      #grillaFormulario #grillaFormularioM .formulario {
        margin-top: 5em;
        position: absolute; }
        #grillaFormulario #grillaFormularioM .formulario iframe {
          width: 30em;
          height: 100vw; } }
