*{
    margin: 0%;
    padding: 0%;
}

// header
header{
    background-color: black;
    padding: 1vw;
}

footer{
    margin-top: 8vw;
    background-color: rgb(80, 80, 96);
    height: 10em;

    .nav-item{
        img{
            height: 3em;
        }
        
    }
}

#grillaIndex{
    #grillaIndexM{
        background-color: rgb(255, 255, 255);
            .inicioImagen{
                img{
                    width: 100%;
                    height: 100%;
                }
                img{
                    filter: constrast(95%);
                }
            
            }

            div.texto{
                font-family: 'Charis SIL', serif;
                text-align: left;
                font-size: 4.5vw;
                width: 12em;
                position: absolute;
                top: 3.2em;
                color: rgb(222, 168, 42);
            }
            h3{
                margin-top: 35%;
                text-align: center;
            }
            
                .div1{
                    background-image: url("../images/trabajo1.jpeg");
                    background-repeat: no-repeat;
                    background-size: cover;
                    height: 30em;
                    margin: 1em;
                    transition: .5s;
                    filter: opacity(70%);
                    
                    h3{
                        transition: .5s;
                    }
                }
                .div1:hover{
                    transform: scale(96%);
                    filter: opacity(100%);
                    transition: .5s;
                    h3{
                        color: white;
                        transition: .5s;
                    }
                }
                
                .div2{
                    background-image: url("../images/trabajo2.jpeg");
                    background-repeat: no-repeat;
                    background-size: cover;
                    height: 30em;
                    margin: 1em;
                    filter: opacity(70%);
                    
                    h3{
                        transition: .5s;
                    }
                }
                .div2:hover{
                    transform: scale(96%);
                    filter: opacity(100%);
                    transition: .5s;
                    h3{
                        color: white;
                        transition: .5s;
                    }
                }
                .div3{
                    background-image: url("../images/trabajo3.jpeg");
                    background-repeat: no-repeat;
                    background-size: cover;
                    height: 30em;
                    margin: 1em;
                    filter: opacity(70%);
                    
                    h3{
                        transition: .5s;
                    }
                }
                .div3:hover{
                    transform: scale(96%);
                    filter: opacity(100%);
                    transition: .5s;
                    h3{
                        color: white;
                        transition: .5s;
                    }
                }
    }

}

#grillaNosotros{
    #grillaNosotrosM{
        .sandiImagen{
            img{
                padding: 5vw;
                width: 100%;
                height: 100%;
            }
        }
        .cont{
            align-self: center;
            text-align: left;
        }

        .carousel{
            position: relative;
            left: 25%;
            padding: 10vw;
            background-color: black;
        }
    }
}

#grillaContacto{
    #grillaContactoM{
        .box{
            align-items: center;
            text-align: center;
            background-color: rgb(203, 148, 81);
            width: 40em;
            height: 50em;
        }
        .wsp-boton{
            background-color: rgb(97, 210, 97);
            width: 17em;
            border-radius: 2em;
            transition: .5s;
            transform: scale(100%);
            
            ul{
                
                li.nav-item1{
                    position: relative;
                    top: .3em;
                    
                }
                li{
                    padding-top: .7em;
                    a{
                      p{
                        text-decoration: none;  
                    }    
                    }
                              
                }
            }
        }
        .wsp-boton:hover{
            transition: .5s;
            transform: scale(103%);
            background-color: rgb(129, 229, 129);
        }
    }
}




@media only screen and (min-width:600px){
    #grillaIndex{
        display: grid;
        grid-template-columns: 25% 25% 25% 25%;
        grid-template-rows: auto 1fr 1fr auto;
        grid-template-areas: "header header header header"
                "main main main main"
                "main main main main"
                "footer footer footer footer";

        header{
            grid-area: header;
        }
        footer{
            grid-area: footer;
        }

        #grillaIndexM{
            grid-area: main;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: 50em auto;
            grid-template-areas: "inicioImagen inicioImagen inicioImagen"
                                "contenido1 contenido2 contenido3";

            .inicioImagen{
                grid-area: inicioImagen;
            }

            .div1{
                grid-area: contenido1;
            }
            .div2{
                grid-area: contenido2;
            }
            .div3{
                grid-area: contenido3;
            }
        }

        
    }

    #grillaNosotros{
        display: grid;
        grid-template-columns: 25% 25% 25% 25%;
        grid-template-rows: auto 1fr 1fr auto;
        grid-template-areas: "header header header header"
                "main main main main"
                "main main main main"
                "footer footer footer footer";

        header{
            grid-area: header;
        }
        footer{
            grid-area: footer;
        }
        #grillaNosotrosM{
            grid-area: main;
            display: grid;
            grid-template-columns: 25% 25% 25% 25%;
            grid-template-rows: 40em 1fr;
            grid-template-areas: "sandi sandi cont cont"
                                "carousel carousel carousel carousel";

            .sandiImagen{
                grid-area: sandi;
            }

            .cont{
                grid-area: cont;
            }
            
            .carousel{
                grid-area: carousel;
            }
        }

        
    }
           
    
    #grillaFormulario{
        background-color: gray;
        display: grid;
        grid-template-columns: 25% 25% 25% 25%;
        grid-template-rows: auto 90em auto;
        grid-template-areas: "header header header header"
                            "main main main main"
                            "main main main main"
                            "footer footer footer footer";
        header{
            grid-area: header;
        }

        footer{
            grid-area: footer;
        }
        
        #grillaFormularioM{
            grid-area: main;

            .formulario{
                margin-top:2em;
                position: absolute;
                
                
                iframe{
                    width: 110em;
                    height: 80em;
                }
            }



        }

    }
}



